Flask==2.3.3
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.23
Werkzeug==2.3.7
python-dotenv==1.0.0
pymysql==1.1.0
psycopg2-binary
cryptography==41.0.4
gunicorn
pytest
PyJWT==2.10.1
reportlab==4.0.8

openpyxl==3.1.2
